/* 手機直式 */
#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8em auto auto 8em;
    grid-template-areas:
        "header"
        "nav" 
        "main"
        "footer";
    width: 100%;
}

.header {
    display: flex;
    /* flex佈局row的方向 */
    flex-direction: row;
    /* 換行選項nowrap表示不換行 */
    flex-wrap: nowrap;
    /* 水平位置center置中 */
    justify-content: center;
    /* 垂直位置center置中 */
    align-items: center;
    background-color: antiquewhite;
    grid-area: header;
}

.nav {
    background-color: aqua;
    grid-area: nav;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;

}

.main {
    background-color: aquamarine;
    grid-area: main;
    padding: 5em;
}

.footer {
    background-color: bisque;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    grid-area: footer;
}
/* 手機橫式 */
@media (min-width: 576px) {


}

/* 平板 */
@media (min-width: 768px) {
    #container {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 8em auto 8em;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";

    }

    .header {
        display: flex;
        /* flex佈局row的方向 */
        flex-direction: row;
        /* 換行選項nowrap表示不換行 */
        flex-wrap: nowrap;
        /* 水平位置center置中 */
        justify-content: center;
        /* 垂直位置center置中 */
        align-items: center;
        background-color: antiquewhite;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .nav {
        background-color: aqua;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav a {
        display: block;
        padding: 1em;
        text-decoration: none;
        text-align: center;
        color: black;
        font-weight: bold;

    }

    .main {
        background-color: aquamarine;
        grid-row: 2/span 1;
        grid-column: 2/span 2;
    }

    .footer {
        background-color: bisque;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        grid-area: footer;

    }
}

/* 筆電 */
@media (min-width: 992px) {}

/* 桌機 */
@media (min-width: 1200px) {
    #container {
     width: 1140px;
     margin: 0 auto;

    }

}

/* 電競 */
@media (min-width: 1400px) {

    #container {
        width: 1320px;
        margin: 0 auto;
   
       }
}